<% form_for @token_sync do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :peer_name, "Peer Name" %><br />
    <%= f.text_field :peer_name %>
  </p>
  <p>
    <%= f.label :callback_url, "Callback URL" %><br />
    <%= f.text_field :callback_url %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
