<% form_for @user do |f| %>
  <%= f.error_messages %>
	<p>
		<%= f.label :username %><br />
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation, "Confirm" %><br />
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.label :first_name, "First Name" %><br />
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name, "Last Name" %><br />
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :street_address, "Address" %><br />
		<%= f.text_field :street_address %>
	</p>
	<p>
		<%= f.label :street_city, "City" %><br />
		<%= f.text_field :street_city %>
	</p>
	<p>
		<%= f.label :street_st, "State (i.e. UT)" %><br />
		<%= f.text_field :street_st %>
	</p>
	<p>
		<%= f.label :street_zip, "Zip" %><br />
		<%= f.text_field :street_zip %>
	</p>

  <p><%= f.submit "Submit" %></p>
<% end %>
